<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.soundsightapp.infrastructpure.mysql.dao.FavoriteDao">

    <resultMap id="favoriteMap" type="com.example.soundsightapp.infrastructpure.mysql.po.Favorite">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="video_id" property="videoId"/>
        <result column="video_type" property="videoType"/>
    </resultMap>
    <insert id="addFavorite">
        insert into favorite (user_id, video_id, video_type) values (#{userId}, #{itemId}, #{itemType})
    </insert>
    <delete id="delFavorite">
        delete from favorite where user_id = #{userId} and video_id = #{itemId} and video_type = #{itemType}
    </delete>
    <select id="count" resultType="java.lang.Integer">
        select count(*) from favorite where user_id = #{userId} and video_id = #{itemId} and video_type = #{itemType}
    </select>
    <select id="getUserVideoByUserId"
            resultType="com.example.soundsightapp.infrastructpure.mysql.po.Favorite" resultMap="favoriteMap">
        select * from favorite where user_id = #{userId}
    </select>


</mapper>