<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.soundsightapp.infrastructpure.mysql.dao.FollowDao">

    <resultMap id="favoriteMap" type="com.example.soundsightapp.infrastructpure.mysql.po.Follow">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="followed_id" property="followedId"/>
    </resultMap>
    <select id="count" resultType="java.lang.Integer">
        select count(*) from follow where user_id = #{userId} and followed_id = #{followedId}
    </select>

</mapper>